*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7ff7b;
  color: #fff;
  font-family: sans-serif;
}

#app {
  max-width: 450px;
  width: 100%;
  background: #fff;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

#todo-title {
  font-size: 30px;
  text-align: center;
  color: #000;
}

#todo-subtitle {
  font-size: 18px;
  text-align: center;
  position: relative;
  margin: 18px;
  color: #000;
}

#todo-input {
  outline: none;
  border: 1px solid #e7ff7b;
  height: 40px;
  padding-left: 10px;
  color: #000;
  margin-bottom: 15px;
}

#todo-input::placeholder {
  color: #0000006b;
}

#todo-submit {
  border: none;
  background: brown;
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  transition: 0.3s;
  margin-bottom: 30px;
}

#todo-submit:hover {
  background: green;
}

#todo-output {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#todo-output li {
  padding: 10px;
  color: #000;
  text-align: center;
}

.border {
  position: relative;
}

.border::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: grey;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
